{% extends "layout.html" %}

{% block title %}
    Add Expense
{% endblock %}

{% block main %}

<h2>Welcome to you Expense Manager</h2>
<h5>Here you will be able to add a Type of Expense to you expenses list</h5>
<a href="/new_plan">Back to planning</a><br><br>


    <div class="add_expense container">
        <br>
        <h3>Add Expense</h3>
        
        <p>In this form you will be able to add a new expense to your registred expenses.</p>
        
        <form action="/add_expense" method="post">
            <div class="form-group col-6 " style="margin:auto">
              <label for="ExpenseName"><strong>Expense Name</strong></label>
              <input autocomplete="off" type="text" class="form-control" name="ExpenseName" id="ExpenseName" placeholder="Rent">
            </div><br>
            <div class="form-group col-6" style="margin:auto">
              <label for="ExpenseDescription"><strong>Description</strong> (Optional)</label>
              <input style="height: 150px;"autocomplete="off" type="text" class="form-control" name="ExpenseDescription" id="ExpenseDescription" placeholder="House on Park Ave. & 29th NYC.">
            </div><br>

            <br> <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        
        <br><br>
        
    </div><br><br>

            <h5>Here is the list of all your registred expenses</h5>

    <main class="container py-5 text-center">

        <table class="table table-striped">
            <!--<colgroup>
                <col class="" span="2" />
                <col class="green" span="1" />
            
            </colgroup> -->  
            <thead>
                <tr>
                    <th class="text-center"><strong>Name</strong></th>
                    <th class="text-center">Date added</th>
                    <th style="width:50%" class="text-center">Description</th>
                </tr>
            </thead>
           <tbody>
                {% for expense_type in types_of_expenses %}
                    <tr>
                        <td class="text-center"><strong>{{ expense_type.name }}</strong></td>
                        <td class="text-center">{{ expense_type.day_added }}</td>                      
                        <td class="text-center">{{ expense_type.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>


{% endblock %}