{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div>
        {% for name in name %}
        <h2 style="text-align:center">Welcome yo your Dashboard, {{ name.name }}</h2>
        {% endfor %}
    </div>

    <br>    
    <div>
        <h6 style="text-align:center">Here you will find the list of taxes you have. To add a new one, click "Add new tax".</h6>
    </div>
    <br>
        
    <form action="/new_tax" method="post">    
        <div>
            <a href="/new_tax" class="button" >Add new tax</a>
        </div>
    <br>

    </form>

    <main class="container py-5 text-center">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Tax ID</th>
                    <th class="text-center">Tax Name</th>
                    <th class="text-center">Country</th>
                    <th class="text-end">Percentage</th>
                </tr>
            </thead>
           <tbody>
                {% for taxes in taxes %}
                    <tr>
                        <td class="text-start">{{ taxes.id }}</td>
                        <td class="text-center">{{ taxes.name }}</td>
                        <td class="text-center">{{ taxes.country }}</td>
                        <td class="text-end">{{ taxes.percentage }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}