{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div>
        {% for name in name %}
        <h2 style="text-align:center">Welcome to Planning, {{ name.name }}</h2>
        {% endfor %}
    </div>

    <br>    
    <div>
        <h6 style="text-align:center">Here you will be able to make a plan for the period of your choice. <h6>
    </div>
    <br>
        
    
    <a class="hyperlinks" href="#income">Income</a><a class="hyperlinks" href="#expenses">|           Expenses</a> 
    <br><br>
    <form action="/planning" method="post">
        <div class="period container">
            <br>
            <h3>Period</h3>
            <p>Please select the period you want to do some planning. </p>
            <input class="btn btn-primary" id ="day" type="button" value="  Day  ">
            <input class="btn btn-primary" id ="month "type="button" value=" Month ">
            <input class="btn btn-primary" id ="quarter" type="button" value="Quarter">
            <input class="btn btn-primary" id ="year" type="button" value=" Year  ">
            <br><br>
        </div><br><br>
        <div class="income container" id="income">
            <br><h3>Expected Income</h3>
            <p>Please insert the income you expect to have over this period.  <br>You will be able to change it if it suffers modifications. 
            <div class="form-row expected_income" >
                <div class="col">
                    <select class="form-control">
                        <option selected disabled>Currency</option>
                        {% for currency in currencies %}
                        <option>{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input class="form-control" type="text" placeholder="Income: 00.00">
                </div>
            </div>
            
            <p>The currency you select here will be the same as on the expenses.</p>

            <div>
                <br>
                <button class="btn btn-outline-success" type="submit">Submit Income</button>
                <br>
            </div>
            <br>
            <h5 class="past-incomes">Past Incomes...</h5>
            <!-- to do insert past incomes-->
        </div>

        <br>
        
        <div style="margin:auto" id="expectedexpenses" class="expenses_container" id="expenses">
            <br><h3>Expected Expenses</h3>
            <p>Please insert the expenses you expect to have over this period.  <br><p>If you don´t see an expense you want to use, feel free to add one to your list <a href="/add_expense"><strong>here</strong></a>.</p>
            <p class="table_title">Add expenses to your planning</p>
            <a style="margin:auto" class="add btn btn-light">&plus;</a>
            <br>
            <div class="inp-group">
                
            </div>
            <div>
                <br>
                <button class="btn btn-outline-success" type="submit">Submit expenses</button>
                <br>
            </div>
        </div>
        <script>
            const addBtn = document.querySelector(".add");

            const input = document.querySelector(".inp-group");

            function removeInput() {
                this.parentElement.remove();
            }

            function addInput() {
                const ExpenseName = document.createElement("select");
                ExpenseName.className = "form-control";
                ExpenseName.type="select";
                ExpenseName.placeholder="Expense name";
                ExpenseName.options = "Hola";
  
                const Amount = document.createElement("input");
                Amount.className = "form-control";
                Amount.type="integer";
                Amount.placeholder="Amount: 00.00";

                const AddExpense = document.createElement("button");
                AddExpense.className = "btn btn-outline-primary";
                AddExpense.type="submit";
                
                const btn = document.createElement("a");
                btn.className = "btn btn-danger";
                btn.innerHTML = "&times";

                btn.addEventListener("click", removeInput);

                const flex = document.createElement("div");
                flex.className = "flex";
                
                input.appendChild(flex);
                flex.appendChild(ExpenseName);
                flex.appendChild(Amount);
                flex.appendChild(AddExpense);
                flex.appendChild(btn);

            }
            addBtn.addEventListener("click", addInput);


        </script>
    </form>


 
{% endblock %}
