{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div>
        <h3 style="text-align:center">Register</h3>
    </div>
    <br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Repeat Password" type="password">
        </div>

        <ab>
            <br><h5>For what will you use this app?</h5><br>
            <select name="type_of_user">
                <option disabled selected>--Usage-- </option>
                {% for type_of_user in type_of_user %}
                <option text-align="center" value="{{ type_of_user }}">{{ type_of_user }}</option>
                {% endfor %}
            </select>
        </ab> <br>

        <ab>
            <br><h5>Which is your level of Expertise on Finances? </h5>
            This input will define how you see the app.<br>
            More advanced, more parameters you can use <br>
            <br><select name="expertise"><br>
                <option disabled selected>--Level of Expertise-- </option>
                {% for expertise in expertise %}
                <option text-align="center" value="{{ expertise }}">{{ expertise }}</option>
                {% endfor %}
            </select><br>
        </ab> <br>
            
        <br> <button class="btn btn-primary" type="submit">Register</button>

    </form>
{% endblock %}